/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.logo-mcs{
  height: 64px;
}
.font-blue {
  color: #1E88E5 !important;
}
a.active{
  background-color: #1e88e5 !important;
  color: rgba(255,255,255,0.9) !important;
}
.justify{
  text-align: justify;
  text-justify: inter-word;
}
.mision{
  height: 85px;
}
.pad-nav li{
  padding-left: 5px;
  padding-right: 5px;
}
.pad-nav li a{
  font-size: 1.3rem;
}
.font-panel a{
  font-size: 1.3rem;
}
.color-title {
  color: #1a237e;
}
.font-subtitle{
  font-size: 1.2rem;
  font-weight: bold;
}
.img-productos{
  height: 95px;
}
